.gh :hover {
    color: blue;
    box-shadow: 5px 10px 5px rgb(66, 28, 190);
    transition: all 0.5s 0.01s ease-in-out;
    transform: translateY(-20px);

}
a{
    color: rgb(161, 156, 156);
    text-decoration: none;
}
p{
    color: rgb(161, 156, 156);
}